In [25]:
import sys
sys.path.append('src')
sys.path.append('models')
sys.path.append('data')
from librerias import *
from utils import *
%load_ext autoreload
%autoreload 2
#generate_requirements_txt("requirements.txt")
#install_requirements()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
%reload_ext autoreload

# Tablas Extraidas

In [12]:
data_path="data/SISALRIL/afiliacion/Afiliacion_RC_PBS_02.xlsx"
datafile ='data/SISALRIL/afiliacion/RC_Afiliados_Edad_Sexo.csv'
Extraer_Afiliados_Edad_Sexo(data_path,  archivocsv=datafile)

In [13]:
data_path = "data/SISALRIL/afiliacion/Afiliacion_RC_PBS_03.xlsx"
datafile = 'data/SISALRIL/afiliacion/RC_TasaDependencia_RC_ARS.csv'
Extraer_TasaDependencia_RC_ARS(data_path,  archivocsv=datafile)

In [18]:
data_path = "data/SISALRIL/afiliacion/Afiliacion_RC_PBS_07.xlsx"
datafile= 'data/SISALRIL/afiliacion/RC_AfiliadosCotizantes_Edad_Sexo.csv'
Extraer_AfiliadosCotizantes_Edad_Sexo(data_path,  archivocsv=datafile)

In [27]:
data_path = "data/SISALRIL/afiliacion/Afiliacion_RC_PBS_08.xlsx"
datafile= 'data/SISALRIL/afiliacion/RC_AfiliadosNoCotizantes_Edad_Sexo.csv'
Extraer_AfiliadosNoCotizantes_Edad_Sexo(data_path,  archivocsv=datafile)

In [29]:
data_path = "data/SISALRIL/afiliacion/Afiliacion_RC_PBS_04.xlsx"
datafile= 'data/SISALRIL/afiliacion/RC_Tabla_Regiones.csv' 
Extraer_Tabla_Regiones(data_path,  archivocsv=datafile)

In [31]:
data_path = "data/SISALRIL/afiliacion/Afiliacion_RC_PBS_04.xlsx"
datafile ='data/SISALRIL/afiliacion/RC_Datos_Regionales.csv'
Extraer_datos_regionales(data_path, header_=7, rows_=54-7, archivocsv=datafile)

,Total general,Total Región Distrito Nacional,Total 0 - Santo Domingo,Distrito Nacional,Monte Plata,Santo Domingo,Total Región Este,Total V - Este,El Seybo,Hato Mayor del Rey,...,Independencia,Pedernales,Total VI - El Valle,Azua,Elias Piña,San Juan de la Maguana,No Especificada,Month,Year,Periodo de Cobertura
0,1208042,539284,539284,465980,6574,66730,92472,92472,3752,4772,...,2943,1489,22056,8241,2588,11227,236376,9,2007,2007-09-01
1,1384810,587603,587603,499132,11801,76670,103732,103732,5053,7034,...,4753,2083,34045,12742,4085,17218,255672,10,2007,2007-10-01
2,1421975,599612,599612,507251,11842,80519,105679,105679,5096,7171,...,4845,2073,34747,12924,4181,17642,263267,11,2007,2007-11-01
3,1477181,620697,620697,524595,12589,83513,109869,109869,5341,7690,...,5050,2122,36579,13818,4368,18393,276162,12,2007,2007-12-01
4,1485499,623725,623725,526446,12762,84517,113761,113761,5708,7877,...,5049,2172,36607,13737,4384,18486,272879,1,2008,2008-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,4552390,1451796,1451796,973697,58953,419146,375741,375741,33265,34171,...,25878,7541,224516,80765,30436,113315,866258,8,2023,2023-08-01
192,4568370,1457947,1457947,977414,59060,421473,374588,374588,33268,34172,...,25786,7502,225407,81024,30380,114003,876255,9,2023,2023-09-01
193,4580047,1465164,1465164,982134,58776,424254,372318,372318,32873,34008,...,25946,7536,225317,81605,30329,113383,885058,10,2023,2023-10-01
194,4579244,1468535,1468535,984969,58675,424891,371407,371407,32821,33880,...,25942,7543,224715,81303,30291,113121,890292,11,2023,2023-11-01
195,4577068,1471117,1471117,986486,58693,425938,371322,371322,32824,33777,...,25894,7541,225023,81663,30242,113118,895810,12,2023,2023-12-01

In [32]:
data_path = "data/SISALRIL/afiliacion/Afiliacion_RC_PBS_05.xlsx"
datafile ='data/SISALRIL/afiliacion/RC_Datos_Regionales_Cotizantes.csv'
Extraer_datos_regionales(data_path, header_=7, rows_=54-7, archivocsv=datafile)

,Total general,Total Región Distrito Nacional,Total 0 - Santo Domingo,Distrito Nacional,Monte Plata,Santo Domingo,Total Región Este,Total V - Este,El Seybo,Hato Mayor del Rey,...,Independencia,Pedernales,Total VI - El Valle,Azua,Elias Piña,San Juan de la Maguana,No Especificada,Month,Year,Periodo de Cobertura
0,805496,334858,334858,284414,4006,46438,66088,66088,2467,3183,...,1714,806,13005,4759,1614,6632,185327,9,2007,2007-09-01
1,903242,362220,362220,306444,6426,49350,71774,71774,3123,4385,...,2542,1075,18294,6684,2354,9256,204205,10,2007,2007-10-01
2,915500,362981,362981,307214,6331,49436,72303,72303,3118,4398,...,2541,1040,18370,6705,2352,9313,210983,11,2007,2007-11-01
3,941619,371593,371593,313912,6679,51002,73465,73465,3155,4598,...,2596,1069,18905,6907,2379,9619,222936,12,2007,2007-12-01
4,939349,369779,369779,312036,6723,51020,75946,75946,3446,4698,...,2584,1071,18808,6868,2388,9552,219214,1,2008,2008-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,2213792,753046,753046,509271,39411,204364,193029,193029,20205,20388,...,15187,4685,129221,38763,21278,69180,291496,8,2023,2023-08-01
192,2225126,759778,759778,513508,39432,206838,192966,192966,20267,20429,...,15223,4684,129949,39035,21240,69674,293288,9,2023,2023-09-01
193,2230413,765780,765780,516992,39372,209416,191658,191658,20006,20337,...,15321,4706,129942,39361,21262,69319,293471,10,2023,2023-10-01
194,2236680,771357,771357,521242,39459,210656,191858,191858,20032,20303,...,15350,4738,130124,39451,21275,69398,294914,11,2023,2023-11-01
195,2241509,776347,776347,524372,39486,212489,193017,193017,20073,20315,...,15325,4752,130504,39776,21226,69502,296413,12,2023,2023-12-01

In [33]:
data_path = "data/SISALRIL/afiliacion/Afiliacion_RC_PBS_06.xlsx"
datafile ='data/SISALRIL/afiliacion/RC_Datos_Regionales_NoCotizantes.csv'
Extraer_datos_regionales(data_path, header_=6, rows_=54-7, archivocsv=datafile)

,Total general,Total Región Distrito Nacional,Total 0 - Santo Domingo,Distrito Nacional,Monte Plata,Santo Domingo,Total Región Este,Total V - Este,El Seybo,Hato Mayor del Rey,...,Independencia,Pedernales,Total VI - El Valle,Azua,Elias Piña,San Juan de la Maguana,No Especificada,Month,Year,Periodo de Cobertura
0,402546,204426,204426,181566,2568,20292,26384,26384,1285,1589,...,1229,683,9051,3482,974,4595,51049,9,2007,2007-09-01
1,481568,225383,225383,192688,5375,27320,31958,31958,1930,2649,...,2211,1008,15751,6058,1731,7962,51467,10,2007,2007-10-01
2,506475,236631,236631,200037,5511,31083,33376,33376,1978,2773,...,2304,1033,16377,6219,1829,8329,52284,11,2007,2007-11-01
3,535562,249104,249104,210683,5910,32511,36404,36404,2186,3092,...,2454,1053,17674,6911,1989,8774,53226,12,2007,2007-12-01
4,546150,253946,253946,214410,6039,33497,37815,37815,2262,3179,...,2465,1101,17799,6869,1996,8934,53665,1,2008,2008-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,2338598,698750,698750,464426,19542,214782,182712,182712,13060,13783,...,10691,2856,95295,42002,9158,44135,574762,8,2023,2023-08-01
192,2343244,698169,698169,463906,19628,214635,181622,181622,13001,13743,...,10563,2818,95458,41989,9140,44329,582967,9,2023,2023-09-01
193,2349634,699384,699384,465142,19404,214838,180660,180660,12867,13671,...,10625,2830,95375,42244,9067,44064,591587,10,2023,2023-10-01
194,2342564,697178,697178,463727,19216,214235,179549,179549,12789,13577,...,10592,2805,94591,41852,9016,43723,595378,11,2023,2023-11-01
195,2335559,694770,694770,462114,19207,213449,178305,178305,12751,13462,...,10569,2789,94519,41887,9016,43616,599397,12,2023,2023-12-01

In [35]:
data_path = "data/SISALRIL/afiliacion/Afiliacion_SFS_PBS_03.xlsx"
datafile = 'data/SISALRIL/afiliacion/SFS_Afiliacion_Tasa_Regimen.csv'
Extraer_SFS_Afiliacion_Tasa_Regimen(data_path,  archivocsv=datafile)

,Periodo de Cobertura,SFS,Tasa_Dep_Regimen_Subsidiado,RC_Tasa_Dependencia,RC_Tasa_Dependencia_Directa,Year,Month
0,2007-09-01,0.828689,1.411069,0.536345,0.533005,2007,9
1,2007-10-01,0.854198,1.472108,0.569770,0.566482,2007,10
2,2007-11-01,0.877197,1.513034,0.590978,0.586543,2007,11
3,2007-12-01,0.836391,1.284267,0.605787,0.601161,2007,12
4,2008-01-01,0.852340,1.306055,0.619184,0.613784,2008,1
...,...,...,...,...,...,...,...
191,2023-08-01,0.490043,0.191996,1.186517,1.066708,2023,8
192,2023-09-01,0.490682,0.191280,1.187954,1.068044,2023,9
193,2023-10-01,0.495583,0.195970,1.186100,1.066620,2023,10
194,2023-11-01,0.493770,0.194295,1.185637,1.065694,2023,11
195,2023-12-01,0.495146,0.193094,1.181851,1.061549,2023,12

In [36]:
data_path = "data/SISALRIL/afiliacion/Afiliacion_SFS_PBS_05.xlsx"
datafile = 'data/SISALRIL/afiliacion/SFS_Regimen_Sexo.csv'
Extraer_SFS_Regimen_Sexo(data_path,  archivocsv=datafile)

,Periodo de Cobertura,SFS_Total,SFS_Hombres,SFS_Mujeres,Reg_Subsidiado_Total,Reg_Subsidiado_Hombres,Reg_Subsidiado_Mujeres,RC_Total,RC_Hombres,RC_Mujeres,Year,Month
0,2007-01-01,521004,236293,284711,521004,236293,284711,0,0,0,2007,1
1,2007-02-01,541511,247177,294334,541511,247177,294334,0,0,0,2007,2
2,2007-03-01,553786,253792,299994,553786,253792,299994,0,0,0,2007,3
3,2007-04-01,597359,275860,321499,597359,275860,321499,0,0,0,2007,4
4,2007-05-01,621688,288028,333660,621688,288028,333660,0,0,0,2007,5
...,...,...,...,...,...,...,...,...,...,...,...,...
199,2023-08-01,10351757,5159796,5191961,5799367,2885984,2913383,4552390,2273812,2278578,2023,8
200,2023-09-01,10361122,5160395,5200727,5792752,2882095,2910657,4568370,2278300,2290070,2023,9
201,2023-10-01,10354794,5158610,5196184,5774747,2872476,2902271,4580047,2286134,2293913,2023,10
202,2023-11-01,10360057,5163070,5196987,5780813,2875667,2905146,4579244,2287403,2291841,2023,11
203,2023-12-01,10267254,5109709,5157545,5690186,2824789,2865397,4577068,2284920,2292148,2023,12

In [37]:
data_path = "data/SISALRIL/afiliacion/Afiliacion_SFS_PBS_07.xlsx"
datafile = 'data/SISALRIL/afiliacion/SFS_Porcentaje_Regimen.csv'
Extraer_SFS_Porcentaje_Regimen(data_path,  archivocsv=datafile)

,Periodo de Cobertura,Poblacion Total proyectada,Porcentaje de Población Cubierta por el SFS,Total Seguro Familiar de Salud,Reg_Subsidiado,Reg_Contributivo,Reg_PensionadosJub,Year,Month
0,2007-01-01,9139465,0.057006,521004,521004,NaN,NaN,2007,1
1,2007-02-01,9147662,0.059197,541511,541511,NaN,NaN,2007,2
2,2007-03-01,9155591,0.060486,553786,553786,NaN,NaN,2007,3
3,2007-04-01,9164388,0.065183,597359,597359,NaN,NaN,2007,4
4,2007-05-01,9172920,0.067774,621688,621688,NaN,NaN,2007,5
...,...,...,...,...,...,...,...,...,...
199,2023-08-01,10725073,0.975451,10461784,5799367,4552390.0,110027.0,2023,8
200,2023-09-01,10732171,0.975849,10472980,5792752,4568370.0,111858.0,2023,9
201,2023-10-01,10739055,0.974792,10468341,5774747,4580047.0,113547.0,2023,10
202,2023-11-01,10746189,0.974685,10474154,5780813,4579244.0,114097.0,2023,11
203,2023-12-01,10753109,0.965228,10379206,5690186,4577068.0,111952.0,2023,12

# lo otro