In [1]:
import sys
sys.path.append('src')
sys.path.append('models')
sys.path.append('data')
from librerias import *
from utils import *
%load_ext autoreload
%autoreload 2
#generate_requirements_txt("requirements.txt")
#install_requirements()

The following libraries are not installed and will be installed:
scikit-learn

In [2]:
%reload_ext autoreload

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 197,Unnamed: 198,Unnamed: 199,Unnamed: 200,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,República Dominicana. Seguro Familiar de Salu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Región Geográfica2,Región Salud,Provincia,2007,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

def extraer_afiliados():
       """
    Extrae y normaliza .

    Parameters:
    -----------
    None

    Returns:
    --------
    None
    """
    df_header = pd.read_excel("data/SISALRIL/afiliacion/Afiliacion_RC_PBS_02.xlsx", header=5, nrows=1)
    df_header.columns.values[:2] = ['Periodo de Cobertura', 'Total Afiliados']

    # Seleccionar datos de la fila 205 a la 400
    df_data1 = pd.read_excel("data/SISALRIL/afiliacion/Afiliacion_RC_PBS_02.xlsx", header=None, skiprows=204, nrows=400-205, usecols=list(range(20)))

    # Seleccionar datos de la fila 402 a la 597
    df_data2 = pd.read_excel("data/SISALRIL/afiliacion/Afiliacion_RC_PBS_02.xlsx", header=None, skiprows=401, nrows=597-402, usecols=list(range(20)))


    # Concatenar los datos
    df = pd.concat([df_data1, df_data2])
    df.reset_index(drop=True, inplace=True)
    # Especificar los nombres de las primeras dos columnas
    df.columns = df_header.columns[:20]

    # Separar year y month
    df['Year'] = df['Periodo de Cobertura'] // 100
    df['Month'] = df['Periodo de Cobertura'] % 100
    # Convertir a formato de fecha
    df['Periodo de Cobertura'] = pd.to_datetime(df['Year'].astype(str) + df['Month'].astype(str), format='%Y%m')

    # Convertir valores a tipo entero
    #df=df.astype(int)
    # Crear la columna 'Sexo' y asignar valores 'M' y 'F'
    df = df.assign(Sexo=['M'] * 195 + ['F'] * 195)
    df.to_csv('data/SISALRIL/afiliacion/RC_Afiliados_Edad_Sexo.csv', index=False)

In [31]:
df.describe()

,Total Afiliados,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,10,11,12,13,14,15,16,17,18,19
count,5.880000e+02,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,...,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,2.173875e+06,184705.438776,205923.517007,200342.476190,158798.027211,170240.608844,207185.421769,199099.272109,179373.265306,159883.414966,...,119912.561224,102876.372449,85802.698980,66631.755102,46989.283163,31724.308673,20610.390306,12986.821429,7744.081633,5877.089286
std,1.023557e+06,88922.965581,97979.098438,92489.100323,77355.784385,76944.478843,94040.186441,88657.600661,78903.780500,70902.773861,...,30264.495967,27161.677212,27112.460215,24280.367145,19104.291772,14777.972821,9922.299010,6226.222345,4069.866217,3463.071011
min,5.360190e+05,39159.000000,45348.000000,40409.000000,29473.000000,54317.000000,71737.000000,65309.000000,58186.000000,48772.000000,...,48772.000000,33683.000000,23026.000000,13617.000000,6705.000000,3255.000000,1685.000000,811.000000,304.000000,223.000000
25%,1.421513e+06,120276.750000,130098.000000,138932.000000,98529.750000,113402.500000,129159.250000,133260.500000,118154.000000,106346.750000,...,95135.750000,81586.750000,62441.500000,47427.750000,31341.250000,19021.500000,12445.500000,8043.750000,4498.500000,2858.250000
50%,2.018205e+06,172085.500000,194617.000000,179135.500000,151213.000000,154420.500000,193815.000000,179175.500000,163661.000000,145043.500000,...,120508.000000,107153.000000,88263.500000,68055.500000,49925.500000,33365.500000,20115.000000,13715.000000,8019.500000,6108.000000
75%,2.504120e+06,216822.750000,241548.750000,249217.250000,183212.000000,197168.500000,232592.750000,239439.750000,211301.250000,190314.750000,...,147063.750000,126851.500000,111516.000000,88819.750000,64347.000000,45899.750000,30186.500000,18125.750000,10758.000000,8481.000000
max,4.615351e+06,379356.000000,437273.000000,425750.000000,341639.000000,352066.000000,421495.000000,431998.000000,360787.000000,334794.000000,...,169132.000000,142733.000000,125192.000000,106461.000000,77403.000000,54330.000000,37143.000000,23636.000000,15114.000000,12609.000000

In [33]:
df.columns.values

array(['Periodo de Cobertura', 'Total Afiliados', '0-4', '5-9', '10-14',
       '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49',
       '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80-84',
       '85 y Más', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,
       16, 17, 18, 19], dtype=object)

In [4]:

df.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Periodo de Cobertura  390 non-null    int64
 1   Total Afiliados       390 non-null    int64
 2   0-4                   390 non-null    int64
 3   5-9                   390 non-null    int64
 4   10-14                 390 non-null    int64
 5   15-19                 390 non-null    int64
 6   20-24                 390 non-null    int64
 7   25-29                 390 non-null    int64
 8   30-34                 390 non-null    int64
 9   35-39                 390 non-null    int64
 10  40-44                 390 non-null    int64
 11  45-49                 390 non-null    int64
 12  50-54                 390 non-null    int64
 13  55-59                 390 non-null    int64
 14  60-64                 390 non-null    int64
 15  65-69                 390 non-null    int64
 16  70-74                 390 non-null    int64
 17  75-79                 390 non-null    int64
 18  80-84                 390 non-null    int64
 19  85 y Más              390 non-null    int64
 20  Sexo                  390 non-null    object
dtypes: int64(20), object(1)
memory usage: 64.1+ KB

,Periodo de Cobertura,Total Afiliados,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85 y Más
count,390.000000,3.900000e+02,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000
mean,201535.271795,1.627031e+06,138298.138462,154124.630769,149935.928205,118903.407692,127450.779487,155125.671795,148982.533333,134296.189744,119675.510256,102684.876923,85612.612821,66442.758974,46838.728205,31615.733333,20532.912821,12940.787179,7717.041026,5853.128205
std,470.226673,4.769456e+05,42718.140937,46326.450082,41954.164406,37615.369317,33963.978623,41748.763432,37927.260050,33103.565378,30159.567419,27098.340285,27050.722787,24197.948707,19036.562586,14737.530132,9888.021494,6207.764600,4060.953448,3452.897414
min,200709.000000,5.360190e+05,39159.000000,45348.000000,40409.000000,29473.000000,54317.000000,71737.000000,65309.000000,58186.000000,48772.000000,33683.000000,23026.000000,13617.000000,6705.000000,3255.000000,1685.000000,811.000000,304.000000,223.000000
25%,201109.250000,1.245233e+06,107591.000000,120082.500000,123183.500000,91412.000000,99128.750000,115966.750000,119935.750000,105675.000000,95133.250000,81560.250000,62212.500000,47327.250000,31317.750000,18836.500000,12422.500000,7997.250000,4477.500000,2844.750000
50%,201510.000000,1.663508e+06,145507.000000,153478.000000,157000.500000,123156.000000,132227.500000,155960.500000,147675.500000,138533.000000,120190.000000,106979.000000,88101.500000,67793.000000,49657.000000,33231.000000,20044.500000,13668.000000,7960.000000,6082.000000
75%,201910.750000,2.073721e+06,176621.250000,198968.250000,182591.500000,155324.250000,158432.000000,196290.500000,180447.750000,164881.500000,146988.500000,126829.500000,111424.250000,88636.000000,64240.500000,45777.000000,29981.500000,18009.750000,10719.250000,8406.500000
max,202311.000000,2.316700e+06,193712.000000,223004.000000,216832.000000,170941.000000,180849.000000,220505.000000,222373.000000,182288.000000,169132.000000,142733.000000,125192.000000,106461.000000,77403.000000,54330.000000,37143.000000,23636.000000,15114.000000,12609.000000

In [16]:
def extraer_afiliados():
       """
    Extrae y normaliza .

    Parameters:
    -----------
    None

    Returns:
    --------
    None
    """
    df_header = pd.read_excel("data/SISALRIL/afiliacion/Afiliacion_RC_PBS_02.xlsx", header=5, nrows=1)
    df_header.columns.values[:2] = ['Periodo de Cobertura', 'Total Afiliados']

    # Seleccionar datos de la fila 205 a la 400
    df_data1 = pd.read_excel("data/SISALRIL/afiliacion/Afiliacion_RC_PBS_02.xlsx", header=None, skiprows=204, nrows=400-205, usecols=list(range(20)))

    # Seleccionar datos de la fila 402 a la 597
    df_data2 = pd.read_excel("data/SISALRIL/afiliacion/Afiliacion_RC_PBS_02.xlsx", header=None, skiprows=401, nrows=597-402, usecols=list(range(20)))


    # Concatenar los datos
    df = pd.concat([df_data1, df_data2])
    df.reset_index(drop=True, inplace=True)
    # Especificar los nombres de las primeras dos columnas
    df.columns = df_header.columns[:20]

    # Separar year y month
    df['Year'] = df['Periodo de Cobertura'] // 100
    df['Month'] = df['Periodo de Cobertura'] % 100
    # Convertir a formato de fecha
    df['Periodo de Cobertura'] = pd.to_datetime(df['Year'].astype(str) + df['Month'].astype(str), format='%Y%m')

    # Convertir valores a tipo entero
    #df=df.astype(int)
    # Crear la columna 'Sexo' y asignar valores 'M' y 'F'
    df = df.assign(Sexo=['M'] * 195 + ['F'] * 195)
    df.to_csv('data/SISALRIL/afiliacion/RC_Afiliados_Edad_Sexo.csv', index=False)