In [84]:
import sys
sys.path.append('src')
sys.path.append('models')
sys.path.append('data')
from librerias import *
from utils import *
%load_ext autoreload
%autoreload 2
#generate_requirements_txt("requirements.txt")
#install_requirements()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [66]:
%reload_ext autoreload

In [86]:
def Extraer_SiniestralidadPBS(datapath, header_=9, rows_=204-9, skip=9, columns_="A:D", column_names=[], archivocsv='data.csv'):
    if not column_names:
        column_names = [
            'Periodo de Cobertura',
            'Ingresos en Salud',
            'Gasto en Salud',
            'Porcentaje (%) de Siniestralidad',
        ]

    df_header = pd.read_excel(datapath, header=header_, nrows=2, usecols=columns_)
    df = pd.read_excel(datapath, header=None, skiprows=skip, nrows=rows_, usecols=columns_)
    
    df.columns = column_names
    
    Normalizar_fecha(df)
    df.to_csv(archivocsv, index=False)
    return df
data_path = "data/SISALRIL/siniestralidad/Siniestralidad_RC_PBS_01.xlsx"
datafile = 'data/SISALRIL/siniestralidad/RC_Ingresos_Gastos_Siniestralidad.csv'
Extraer_SiniestralidadPBS(data_path, header_=9, rows_=204-9, skip=9, columns_="A:D",  archivocsv=datafile)
data_path = "data/SISALRIL/siniestralidad/Sinestralidad_OP_01.xlsx"
datafile = 'data/SISALRIL/siniestralidad/OP_Ingresos_Gastos_Siniestralidad.csv'
Extraer_SiniestralidadPBS(data_path, header_=9, rows_=204-9, skip=9, columns_="A:D",  archivocsv=datafile)

,Periodo de Cobertura,Ingresos en Salud,Gasto en Salud,Porcentaje (%) de Siniestralidad,Year,Month
0,2007-09-01,8.311591e+08,5.910247e+08,71.108496,2007,9
1,2007-10-01,7.293534e+08,5.060268e+08,69.380195,2007,10
2,2007-11-01,7.556733e+08,7.280171e+08,96.340183,2007,11
3,2007-12-01,8.257609e+08,5.771555e+08,69.893779,2007,12
4,2008-01-01,5.336191e+08,4.173492e+08,78.211080,2008,1
...,...,...,...,...,...,...
190,2023-07-01,1.159614e+09,9.807046e+08,84.571662,2023,7
191,2023-08-01,1.192134e+09,1.031383e+09,86.515698,2023,8
192,2023-09-01,1.267766e+09,7.859036e+08,61.991197,2023,9
193,2023-10-01,1.276001e+09,1.360990e+09,106.660569,2023,10
194,2023-11-01,1.265375e+09,1.077233e+09,85.131533,2023,11

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 49 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Total general                   196 non-null    object
 1   Total Región Distrito Nacional  196 non-null    object
 2   Total 0 - Santo Domingo         196 non-null    object
 3   Distrito Nacional               196 non-null    object
 4   Monte Plata                     196 non-null    object
 5   Santo Domingo                   196 non-null    object
 6   Total Región Este               196 non-null    object
 7   Total V - Este                  196 non-null    object
 8   El Seybo                        196 non-null    object
 9   Hato Mayor del Rey              196 non-null    object
 10  La Altagracia                   196 non-null    object
 11  La Romana                       196 non-null    object
 12  San Pedro de Macorís            196 non-null    object
 13  Total Región Norte              196 non-null    object
 14  Total II - Norcentral           196 non-null    object
 15  Espaillat                       196 non-null    object
 16  Puerto Plata                    196 non-null    object
 17  Santiago                        196 non-null    object
 18  Total III - Nordeste            196 non-null    object
 19  Duarte                          196 non-null    object
 20  Hermanas Mirabal                196 non-null    object
 21  Maria Trinidad Sanchez          196 non-null    object
 22  Samaná                          196 non-null    object
 23  Total VII - Cibao Occidental    196 non-null    object
 24  Dajabon                         196 non-null    object
 25  Montecristi                     196 non-null    object
 26  Santiago Rodriguez              196 non-null    object
 27  Valverde                        196 non-null    object
 28  Total VIII - Cibao Central      196 non-null    object
 29  La vega                         196 non-null    object
 30  Monseñor Nouel                  196 non-null    object
 31  Sanchez Ramirez                 196 non-null    object
 32  Total Región Sur                196 non-null    object
 33  Total I - Valdesia              196 non-null    object
 34  Peravia                         196 non-null    object
 35  San Cristóbal                   196 non-null    object
 36  San José de Ocoa                196 non-null    object
 37  Total IV - Enriquillo           196 non-null    object
 38  Bahoruco                        196 non-null    object
 39  Barahona                        196 non-null    object
 40  Independencia                   196 non-null    object
 41  Pedernales                      196 non-null    object
 42  Total VI - El Valle             196 non-null    object
 43  Azua                            196 non-null    object
 44  Elias Piña                      196 non-null    object
 45  San Juan de la Maguana          196 non-null    object
 46  No Especificada                 196 non-null    object
 47  Month                           196 non-null    int64
 48  Year                            196 non-null    int64
dtypes: int64(2), object(47)
memory usage: 75.2+ KB

,Año,Total_Salud (A),PDSS_Subsidiado (A),PDSS_Contributivo (A),Otros_Planes_de_Salud (A),PIB/Precios Corrientes (B),Total en Relación al PIB (A/B),PDSS_Subsidiado en Relación al PIB (A/B),PDSS_Contributivo en Relación al PIB (A/B),Otros_Planes_de_Salud en Relación al PIB (A/B)
0,2010,26787.568988,1846.201415,18477.437876,6463.929697,1.983202e+06,0.013507,0.000931,0.009317,0.003259
1,2011,30846.483733,4143.615029,20062.748973,6640.119730,2.210214e+06,0.013956,0.001875,0.009077,0.003004
2,2012,34690.362031,4513.611859,22215.762752,7960.987419,2.386016e+06,0.014539,0.001892,0.009311,0.003337
3,2013,38061.033339,4653.421325,24571.481779,8836.130234,2.619770e+06,0.014528,0.001776,0.009379,0.003373
4,2014,41427.574789,4623.743143,26823.936199,9979.895447,2.925665e+06,0.014160,0.001580,0.009168,0.003411
5,2015,46731.271641,6440.293899,29567.731024,10723.246718,3.205655e+06,0.014578,0.002009,0.009224,0.003345
6,2016,52671.032106,7385.996560,34276.114131,11008.921415,3.487293e+06,0.015104,0.002118,0.009829,0.003157
7,2017,54624.678593,8017.183153,37716.167542,8891.327898,3.802656e+06,0.014365,0.002108,0.009918,0.002338
8,2018,59476.491609,8985.243979,42804.399717,7686.847913,4.235847e+06,0.014041,0.002121,0.010105,0.001815
9,2019,64980.443205,9765.212872,48029.276822,7185.953511,4.562235e+06,0.014243,0.002140,0.010528,0.001575
10,2020,66565.538928,9570.013322,49660.383713,7335.141893,4.456657e+06,0.014936,0.002147,0.011143,0.001646
11,2021,84168.478230,15695.478832,58956.339933,9516.659465,5.392714e+06,0.015608,0.002910,0.010933,0.001765
12,2022,94748.651818,17236.008777,66829.118258,10683.524783,6.260564e+06,0.015134,0.002753,0.010675,0.001706
13,2023/3,99899.261114,17891.151495,70613.537139,11394.572480,4.849238e+06,0.020601,0.003689,0.014562,0.002350

In [25]:
df

,Año,Total_Salud (A),PDSS_Subsidiado (A),PDSS_Contributivo (A),Otros_Planes_de_Salud (A),PIB/Precios Corrientes (B),Total en Relación al PIB (A/B),PDSS_Subsidiado en Relación al PIB (A/B),PDSS_Contributivo en Relación al PIB (A/B),Otros_Planes_de_Salud en Relación al PIB (A/B)
0,2010,26787.568988,1846.201415,18477.437876,6463.929697,1.983202e+06,0.013507,0.000931,0.009317,0.003259
1,2011,30846.483733,4143.615029,20062.748973,6640.119730,2.210214e+06,0.013956,0.001875,0.009077,0.003004
2,2012,34690.362031,4513.611859,22215.762752,7960.987419,2.386016e+06,0.014539,0.001892,0.009311,0.003337
3,2013,38061.033339,4653.421325,24571.481779,8836.130234,2.619770e+06,0.014528,0.001776,0.009379,0.003373
4,2014,41427.574789,4623.743143,26823.936199,9979.895447,2.925665e+06,0.014160,0.001580,0.009168,0.003411
5,2015,46731.271641,6440.293899,29567.731024,10723.246718,3.205655e+06,0.014578,0.002009,0.009224,0.003345
6,2016,52671.032106,7385.996560,34276.114131,11008.921415,3.487293e+06,0.015104,0.002118,0.009829,0.003157
7,2017,54624.678593,8017.183153,37716.167542,8891.327898,3.802656e+06,0.014365,0.002108,0.009918,0.002338
8,2018,59476.491609,8985.243979,42804.399717,7686.847913,4.235847e+06,0.014041,0.002121,0.010105,0.001815
9,2019,64980.443205,9765.212872,48029.276822,7185.953511,4.562235e+06,0.014243,0.002140,0.010528,0.001575
10,2020,66565.538928,9570.013322,49660.383713,7335.141893,4.456657e+06,0.014936,0.002147,0.011143,0.001646
11,2021,84168.478230,15695.478832,58956.339933,9516.659465,5.392714e+06,0.015608,0.002910,0.010933,0.001765
12,2022,94748.651818,17236.008777,66829.118258,10683.524783,6.260564e+06,0.015134,0.002753,0.010675,0.001706
13,2023/3,99899.261114,17891.151495,70613.537139,11394.572480,4.849238e+06,0.020601,0.003689,0.014562,0.002350

In [93]:
def Extraer_SiniestralidadFlujos(datapath, header_=10, rows_=23-7, skip=[], columns_="A:E", column_names=[], archivocsv='data.csv'):
    if not column_names:
        column_names = [
            'Ano de Cobertura',
            'Ingresos ARS Total',
            'Ingresos ARS Autogestion',
            'Ingresos ARS Privada',
            'Ingresos ARS Publica',
            'Gastos ARS Total',
            'Gastos ARS Autogestion',
            'Gastos ARS Privada',
            'Gastos ARS Publica',
            'Siniestralidad ARS Total',
            'Siniestralidad ARS Autogestion',
            'Siniestralidad ARS Privada',
            'Siniestralidad ARS Publica',    
        ]
    if not skip:
        skip = [12,30,48]

    df_header = pd.read_excel(datapath, header=header_, nrows=2, usecols=columns_)
    df1 = pd.read_excel(datapath, header=None, skiprows=skip[0], nrows=rows_, usecols=columns_)
    df1.columns = column_names[:5]
    Normalizar_fecha(df1)
    
    df2 = pd.read_excel(datapath, header=None, skiprows=skip[1], nrows=rows_, usecols=columns_)
    df2.columns = [column_names[0]] + column_names[5:9]
    Normalizar_fecha(df2)
    
    df3 = pd.read_excel(datapath, header=None, skiprows=skip[2], nrows=rows_, usecols=columns_)
    df3.columns = [column_names[0]] + column_names[9:]
    Normalizar_fecha(df3)
    df = pd.merge(df1, df2, on='Ano de Cobertura', how='inner')
    df = pd.merge(df, df3, on='Ano de Cobertura', how='inner')
    df.columns = column_names
    
    df.to_csv(archivocsv, index=False)
    #return df
data_path = "data/SISALRIL/siniestralidad/Siniestralidad_RC_PBS_02.xlsx"
datafile = 'data/SISALRIL/siniestralidad/RC_Ingresos_Gastos_Siniestralidad_Anual.csv'
Extraer_SiniestralidadFlujos(data_path, header_=10, rows_=23-6, skip=[], columns_="A:E", archivocsv=datafile)
data_path = "data/SISALRIL/siniestralidad/Sinestralidad_OP_02.xlsx"
datafile = 'data/SISALRIL/siniestralidad/OP_Ingresos_Gastos_Siniestralidad_Anual.csv'
Extraer_SiniestralidadFlujos(data_path, header_=14, rows_=31-14, skip=[14,32,50], columns_="A:E", archivocsv=datafile)

,Ano de Cobertura,Ingresos ARS Total,Ingresos ARS Autogestion,Ingresos ARS Privada,Ingresos ARS Publica,Gastos ARS Total,Gastos ARS Autogestion,Gastos ARS Privada,Gastos ARS Publica,Siniestralidad ARS Total,Siniestralidad ARS Autogestion,Siniestralidad ARS Privada,Siniestralidad ARS Publica
0,2007,3.141947e+09,3.624893e+08,1.977750e+09,8.017079e+08,2.402224e+09,1.926007e+08,1.458503e+09,7.511202e+08,0.764566,0.531328,0.737456,0.936900
1,2008,9.883922e+09,1.289832e+09,6.257310e+09,2.336780e+09,7.086660e+09,6.134830e+08,4.457641e+09,2.015536e+09,0.716989,0.475630,0.712389,0.862527
2,2009,1.106233e+10,1.392488e+09,6.570272e+09,3.099574e+09,8.484106e+09,7.516875e+08,5.234896e+09,2.497523e+09,0.766936,0.539816,0.796755,0.805763
3,2010,8.458675e+09,1.984536e+09,6.294965e+09,1.791744e+08,6.463930e+09,1.403187e+09,4.812837e+09,2.479059e+08,0.764178,0.707060,0.764553,1.383601
4,2011,9.753477e+09,2.018128e+09,7.475857e+09,2.594921e+08,6.640120e+09,1.223398e+09,5.083362e+09,3.333598e+08,0.680795,0.606204,0.679971,1.284663
5,2012,1.052997e+10,2.539358e+09,7.798545e+09,1.920715e+08,7.960987e+09,2.047261e+09,5.682001e+09,2.317260e+08,0.756031,0.806212,0.728598,1.206457
6,2013,1.159916e+10,1.819904e+09,9.429655e+09,3.495988e+08,8.836130e+09,1.525827e+09,6.984762e+09,3.255412e+08,0.761791,0.838411,0.740723,0.931185
7,2014,1.307424e+10,2.007023e+09,1.059575e+10,4.714712e+08,9.979895e+09,2.044027e+09,7.441511e+09,4.943579e+08,0.763325,1.018437,0.702311,1.048543
8,2015,1.452141e+10,2.316905e+09,1.167842e+10,5.260812e+08,1.072325e+10,1.875019e+09,8.309232e+09,5.389960e+08,0.738444,0.809277,0.711503,1.024549
9,2016,1.426722e+10,2.205496e+09,1.145009e+10,6.116301e+08,1.100892e+10,1.847044e+09,8.386477e+09,7.754007e+08,0.771624,0.837473,0.732438,1.267761
10,2017,1.160096e+10,1.928039e+09,8.605334e+09,1.067587e+09,8.891328e+09,1.499055e+09,6.105711e+09,1.286562e+09,0.766430,0.777502,0.709526,1.205112
11,2018,9.571075e+09,2.165457e+09,6.057504e+09,1.348114e+09,7.686848e+09,1.615689e+09,4.413339e+09,1.657820e+09,0.803133,0.746119,0.728574,1.229732
12,2019,8.533003e+09,2.367625e+09,4.567917e+09,1.597462e+09,7.185954e+09,1.841929e+09,3.454953e+09,1.889072e+09,0.842136,0.777965,0.756352,1.182546
13,2020,9.303154e+09,2.544669e+09,4.824265e+09,1.934220e+09,7.335142e+09,1.727177e+09,3.308469e+09,2.299496e+09,0.788458,0.678743,0.685798,1.188849
14,2021,1.076080e+10,2.758087e+09,5.351198e+09,2.651511e+09,9.516659e+09,2.285758e+09,4.347867e+09,2.883035e+09,0.884382,0.828747,0.812503,1.087318
15,2022,1.245647e+10,2.231092e+09,5.961844e+09,4.263529e+09,1.068352e+10,2.023456e+09,4.774195e+09,3.885874e+09,0.857669,0.906935,0.800792,0.911422
16,2023,1.293382e+10,2.071478e+09,5.967160e+09,4.895184e+09,1.139457e+10,2.062442e+09,4.792860e+09,4.539271e+09,0.880990,0.995638,0.803206,0.927293

In [ ]:

data/SISALRIL/siniestralidad/Sinestralidad_OP_02.xlsx
data/SISALRIL/siniestralidad/Siniestralidad_RC_PBS_02.xlsx

,Periodo de Cobertura,SFS_Total,SFS_Hombres,SFS_Mujeres,Reg_Subsidiado_Total,Reg_Subsidiado_Hombres,Reg_Subsidiado_Mujeres,RC_Total,RC_Hombres,RC_Mujeres,Year,Month
0,2007-01-01,521004,236293,284711,521004,236293,284711,0,0,0,2007,1
1,2007-02-01,541511,247177,294334,541511,247177,294334,0,0,0,2007,2
2,2007-03-01,553786,253792,299994,553786,253792,299994,0,0,0,2007,3
3,2007-04-01,597359,275860,321499,597359,275860,321499,0,0,0,2007,4
4,2007-05-01,621688,288028,333660,621688,288028,333660,0,0,0,2007,5
...,...,...,...,...,...,...,...,...,...,...,...,...
199,2023-08-01,10351757,5159796,5191961,5799367,2885984,2913383,4552390,2273812,2278578,2023,8
200,2023-09-01,10361122,5160395,5200727,5792752,2882095,2910657,4568370,2278300,2290070,2023,9
201,2023-10-01,10354794,5158610,5196184,5774747,2872476,2902271,4580047,2286134,2293913,2023,10
202,2023-11-01,10360057,5163070,5196987,5780813,2875667,2905146,4579244,2287403,2291841,2023,11
203,2023-12-01,10267254,5109709,5157545,5690186,2824789,2865397,4577068,2284920,2292148,2023,12

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Ano de Cobertura          224 non-null    int64
 1   Grupo Numero              224 non-null    float64
 2   Grupo Descripcion         224 non-null    object
 3   Servicios Prestados       224 non-null    int64
 4   Distribución Porcentual   224 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 8.9+ KB

In [45]:
df.describe()

,Ano de Cobertura,Grupo Numero,Servicios Prestados,Distribución Porcentual
count,224.000000,224.000000,2.240000e+02,224.000000
mean,2015.093750,6.093750,7.217283e+06,0.151786
std,4.944096,3.811142,1.479594e+07,0.266660
min,2007.000000,0.000000,6.300000e+01,0.000008
25%,2011.000000,3.000000,4.797548e+05,0.013421
50%,2015.000000,6.000000,1.500882e+06,0.034888
75%,2019.000000,9.000000,6.859094e+06,0.128360
max,2023.000000,13.000000,8.060784e+07,1.000000