In [207]:
import sys
sys.path.append('src')
sys.path.append('models')
sys.path.append('data')
from librerias import *
from utils import *
%load_ext autoreload
%autoreload 2
#generate_requirements_txt("requirements.txt")
#install_requirements()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [186]:
%reload_ext autoreload

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 49 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Total general                   196 non-null    object
 1   Total Región Distrito Nacional  196 non-null    object
 2   Total 0 - Santo Domingo         196 non-null    object
 3   Distrito Nacional               196 non-null    object
 4   Monte Plata                     196 non-null    object
 5   Santo Domingo                   196 non-null    object
 6   Total Región Este               196 non-null    object
 7   Total V - Este                  196 non-null    object
 8   El Seybo                        196 non-null    object
 9   Hato Mayor del Rey              196 non-null    object
 10  La Altagracia                   196 non-null    object
 11  La Romana                       196 non-null    object
 12  San Pedro de Macorís            196 non-null    object
 13  Total Región Norte              196 non-null    object
 14  Total II - Norcentral           196 non-null    object
 15  Espaillat                       196 non-null    object
 16  Puerto Plata                    196 non-null    object
 17  Santiago                        196 non-null    object
 18  Total III - Nordeste            196 non-null    object
 19  Duarte                          196 non-null    object
 20  Hermanas Mirabal                196 non-null    object
 21  Maria Trinidad Sanchez          196 non-null    object
 22  Samaná                          196 non-null    object
 23  Total VII - Cibao Occidental    196 non-null    object
 24  Dajabon                         196 non-null    object
 25  Montecristi                     196 non-null    object
 26  Santiago Rodriguez              196 non-null    object
 27  Valverde                        196 non-null    object
 28  Total VIII - Cibao Central      196 non-null    object
 29  La vega                         196 non-null    object
 30  Monseñor Nouel                  196 non-null    object
 31  Sanchez Ramirez                 196 non-null    object
 32  Total Región Sur                196 non-null    object
 33  Total I - Valdesia              196 non-null    object
 34  Peravia                         196 non-null    object
 35  San Cristóbal                   196 non-null    object
 36  San José de Ocoa                196 non-null    object
 37  Total IV - Enriquillo           196 non-null    object
 38  Bahoruco                        196 non-null    object
 39  Barahona                        196 non-null    object
 40  Independencia                   196 non-null    object
 41  Pedernales                      196 non-null    object
 42  Total VI - El Valle             196 non-null    object
 43  Azua                            196 non-null    object
 44  Elias Piña                      196 non-null    object
 45  San Juan de la Maguana          196 non-null    object
 46  No Especificada                 196 non-null    object
 47  Month                           196 non-null    int64
 48  Year                            196 non-null    int64
dtypes: int64(2), object(47)
memory usage: 75.2+ KB

In [225]:

    

# Ejemplo de uso
data_path = "data/SISALRIL/afiliacion/Afiliacion_RC_PBS_04.xlsx"
Extraer_datos_regionales(data_path, header_=7, rows_=54-7, archivocsv='data/SISALRIL/afiliacion/RC_Datos_Regionales.csv')
data_path = "data/SISALRIL/afiliacion/Afiliacion_RC_PBS_05.xlsx"
Extraer_datos_regionales(data_path, header_=7, rows_=54-7, archivocsv='data/SISALRIL/afiliacion/RC_Datos_Regionales_Cotizantes.csv')
data_path = "data/SISALRIL/afiliacion/Afiliacion_RC_PBS_06.xlsx"
Extraer_datos_regionales(data_path, header_=6, rows_=54-7, archivocsv='data/SISALRIL/afiliacion/RC_Datos_Regionales_NoCotizantes.csv')