In [264]:
import sys
sys.path.append('src')
sys.path.append('models')
sys.path.append('data')
from librerias import *
from utils import *
%load_ext autoreload
%autoreload 2
#generate_requirements_txt("requirements.txt")
#install_requirements()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [186]:
%reload_ext autoreload

,Periodo de Cobertura,Poblacion Total proyectada,Porcentaje de Población Cubierta por el SFS,Total Seguro Familiar de Salud,Reg_Subsidiado,Reg_Contributivo,Reg_PensionadosJub,Year,Month
0,2007-01-01,9139465,0.057006,521004,521004,NaN,NaN,2007,1
1,2007-02-01,9147662,0.059197,541511,541511,NaN,NaN,2007,2
2,2007-03-01,9155591,0.060486,553786,553786,NaN,NaN,2007,3
3,2007-04-01,9164388,0.065183,597359,597359,NaN,NaN,2007,4
4,2007-05-01,9172920,0.067774,621688,621688,NaN,NaN,2007,5
...,...,...,...,...,...,...,...,...,...
199,2023-08-01,10725073,0.975451,10461784,5799367,4552390.0,110027.0,2023,8
200,2023-09-01,10732171,0.975849,10472980,5792752,4568370.0,111858.0,2023,9
201,2023-10-01,10739055,0.974792,10468341,5774747,4580047.0,113547.0,2023,10
202,2023-11-01,10746189,0.974685,10474154,5780813,4579244.0,114097.0,2023,11
203,2023-12-01,10753109,0.965228,10379206,5690186,4577068.0,111952.0,2023,12

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 49 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Total general                   196 non-null    object
 1   Total Región Distrito Nacional  196 non-null    object
 2   Total 0 - Santo Domingo         196 non-null    object
 3   Distrito Nacional               196 non-null    object
 4   Monte Plata                     196 non-null    object
 5   Santo Domingo                   196 non-null    object
 6   Total Región Este               196 non-null    object
 7   Total V - Este                  196 non-null    object
 8   El Seybo                        196 non-null    object
 9   Hato Mayor del Rey              196 non-null    object
 10  La Altagracia                   196 non-null    object
 11  La Romana                       196 non-null    object
 12  San Pedro de Macorís            196 non-null    object
 13  Total Región Norte              196 non-null    object
 14  Total II - Norcentral           196 non-null    object
 15  Espaillat                       196 non-null    object
 16  Puerto Plata                    196 non-null    object
 17  Santiago                        196 non-null    object
 18  Total III - Nordeste            196 non-null    object
 19  Duarte                          196 non-null    object
 20  Hermanas Mirabal                196 non-null    object
 21  Maria Trinidad Sanchez          196 non-null    object
 22  Samaná                          196 non-null    object
 23  Total VII - Cibao Occidental    196 non-null    object
 24  Dajabon                         196 non-null    object
 25  Montecristi                     196 non-null    object
 26  Santiago Rodriguez              196 non-null    object
 27  Valverde                        196 non-null    object
 28  Total VIII - Cibao Central      196 non-null    object
 29  La vega                         196 non-null    object
 30  Monseñor Nouel                  196 non-null    object
 31  Sanchez Ramirez                 196 non-null    object
 32  Total Región Sur                196 non-null    object
 33  Total I - Valdesia              196 non-null    object
 34  Peravia                         196 non-null    object
 35  San Cristóbal                   196 non-null    object
 36  San José de Ocoa                196 non-null    object
 37  Total IV - Enriquillo           196 non-null    object
 38  Bahoruco                        196 non-null    object
 39  Barahona                        196 non-null    object
 40  Independencia                   196 non-null    object
 41  Pedernales                      196 non-null    object
 42  Total VI - El Valle             196 non-null    object
 43  Azua                            196 non-null    object
 44  Elias Piña                      196 non-null    object
 45  San Juan de la Maguana          196 non-null    object
 46  No Especificada                 196 non-null    object
 47  Month                           196 non-null    int64
 48  Year                            196 non-null    int64
dtypes: int64(2), object(47)
memory usage: 75.2+ KB

In [283]:
def Extraer_FinanciamientoAnual_PIB(datapath, header_=7, rows_=204-7, skip=0, columns_="A:M", column_names=[], archivocsv='data.csv'):
    if not column_names:
        column_names = [
            'Año',
            'Total_Salud',
            'Total_Capitas_Dispersada_mes',
            'Total_Capitas_Dispersada_posterior',
            'Titulares_Total',
            'Titulares_Dispersadas_mes',
            'Titulares_Dispersadas_posterior',
            'Dependientes_Total',
            'Dependientes_Dispersadas_mes',
            'Dependientess_Dispersadas_posterior',
            'Adicionales_Total',
            'Adicionales_Dispersadas_mes',
            'Adicionales_Dispersadas_posterior'
        ]

    df_header = pd.read_excel(datapath, header=header_, nrows=2, usecols=columns_)
    df = pd.read_excel(datapath, header=None, skiprows=skip, nrows=rows_, usecols=columns_)
    df.columns = column_names
    #return df
    Normalizar_fecha(df,columna_fecha='Periodo de Cobertura')
    df.to_csv(archivocsv, index=False)
    return df
names_ = [
                'Periodo de Cobertura',
                'Salario Mínimo Cotizable',
                'Tope de Salario Mínimo Cotizable',
            ]
data_path = "data/SISALRIL/financiamiento/Financiamiento_SFS_03.xlsx"
datafile = 'data/SISALRIL/financiamiento/SFS_TopeSalarioMinimoContizable.csv'
Extraer_FinanciamientoDispersado_TipoAfiliado(data_path, header_=9, rows_=26-9, skip=9, columns_="A:D", column_names=names_, archivocsv=datafile)
#data_path = "data/SISALRIL/financiamiento/Financiamiento_RC_PBS_05.xlsx"
#datafile = 'data/SISALRIL/financiamiento/MontoDispersadoARS_Publicas_postMes.csv'
#Extraer_FinanciamientoDispersado_TipoAfiliado(data_path, header_=7, rows_=401-205, skip=205, columns_="A:M", column_names=[], archivocsv=datafile)

,Periodo de Cobertura,Salario Mínimo Cotizable,Tope de Salario Mínimo Cotizable,Year,Month
0,2003-07-01,2977.0,29770.0,2003,7
1,2003-08-01,2977.0,29770.0,2003,8
2,2003-09-01,2977.0,29770.0,2003,9
3,2003-10-01,2977.0,29770.0,2003,10
4,2003-11-01,3423.0,34230.0,2003,11
...,...,...,...,...,...
241,2023-08-01,18702.0,187020.0,2023,8
242,2023-09-01,18702.0,187020.0,2023,9
243,2023-10-01,18702.0,187020.0,2023,10
244,2023-11-01,18702.0,187020.0,2023,11
245,2023-12-01,18702.0,187020.0,2023,12